[user]
	name = Gustavo Talarico
	email = gustavostalarico@outlook.com.br
[alias]
	st = status
	co = checkout
	ci = commit
	last = cat-file commit HEAD
	colete = blame
[credential]
	helper = cache
[core]
	excludesfile = /home/gustavo/.gitignore
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
